@using FacebookApps.Hello.UI.Models
@using Microsoft.AspNet.Facebook
@using Microsoft.AspNet.Facebook.Models

@model MyAppUser

@{
    ViewBag.Title = "Home Page";
}

<article class="intro">
    <span id="profilePicture">
        @if (Model.ProfilePicture != null && Model.ProfilePicture.Data != null)
        {
            <img src="@Model.ProfilePicture.Data.Url" />
        }
    </span>
    <h3>Welcome @Model.Name</h3>
    <label>Email: @Model.Email</label>
</article>

<article id="content">
    <div class="left">
        <h4>Friends</h4>
        @if (Model.Friends != null && Model.Friends.Data != null && Model.Friends.Data.Count > 0)
        {
            foreach (var myFriend in @Model.Friends.Data)
            {
                <a href="@myFriend.Link" target="_blank">
                    <div class="photoTile">
                        <label>@myFriend.Name</label>
                        @if (myFriend.Picture != null && myFriend.Picture.Data != null)
                        {
                            <img src="@myFriend.Picture.Data.Url" />
                        }
                    </div>
                </a>
            }
        }
        else
        {
            <p>No friends found.</p>
        }
        <p>
            <a id="me" href="#">Me</a> | <a id="share" href="#">Share</a> | <a id="request" href="#">Request</a> | <a id="send" href="#">Send</a>
        </p>
    </div>
    <div class="right">
        <h4>Photos</h4>
        @if (Model.Photos != null && Model.Photos.Data != null && Model.Photos.Data.Count > 0)
        {
            foreach (var photo in @Model.Photos.Data)
            {
                <a href="@photo.Link" target="_blank">
                    <div class="photoTile">
                        <img src="@photo.ThumbnailUrl" />
                    </div>
                </a>
            }
        }
        else
        {
            <p>No photo available.</p>
        }
    </div>
</article>

@section Scripts
{
    <script>
        (function () {

            $('#me').on('click', function (e) {
                e.preventDefault();

                $(this).Me();
            });

            $('#share').on('click', function (e) {
                e.preventDefault();

                $(this).ShareDialog('@GlobalFacebookConfiguration.Configuration.AppUrl');
            });

            $('#request').on('click', function (e) {
                e.preventDefault();

                $(this).RequestDialog('Come join us!');
            });

            $('#send').on('click', function (e) {
                e.preventDefault();

                $(this).SendDialog('@GlobalFacebookConfiguration.Configuration.AppUrl');
            });

        })();
    </script>
}